$imgPath: "../images/";

.location {
width: 40px;
height: 10px;
left: 195px;
top: 119px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;
letter-spacing: 0.17em;
color: #2B283A;
}


.place_info {
  // padding-top: 20px;
  padding-top: 44px;
  display: flex;
  
  .place_L {
    padding: 10px;
    justify-content: space-evenly;

    img {
      // position: absolute;
      width: 125px;
      height: 168px;
      left: 40px;
      top: 100px;
      border-radius: 5px;
    } 
  }

    .place_R {
      padding-top: 10px;
      .place_info_up {
        display: flex;
        align-items: center;
        img {
   
          height: 14px;
          width: 14px;
         
          
        }
        a {
          width: 319px;
height: 11px;
left: 184px;
top: 183px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10.24px;
line-height: 12px;

color: #2B283A;
        }

       * {
         flex-basis: content; 
          padding: 5px;
        }
        
      }

      .place_info_mid {
padding-bottom: 5px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10.24px;
line-height: 12px;
color: #2B283A;


* {
  flex-basis: content; 
   padding: 5px;
 }
      }
              .proptitle {
                width: 326px;
                height: 40px;
                left: 184px;
                top: 136px;
                
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 30px;
                
                color: #2B283A;;
              }
              .place_info_lower {
                width: 319px;
height: 11px;
left: 184px;
top: 183px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 10.24px;
line-height: 12px;

color: #2B283A;

              }
    }
 

  
}



